<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="lz4net" version="1.0.15.93" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Core" version="1.1.5" targetFramework="net48" />
  <package id="Microsoft-WindowsAPICodePack-Shell" version="1.1.5" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
</packages>