name: build and test

on:
  pull_request:
    branches: [ master ]
    paths:
    - '**.cs'
    - '**.csproj'
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-and-test:

    name: build-and-test-${{matrix.os}}
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    
    - name: Set up .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.0.x'

    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build solution
      run: dotnet build --no-restore --configuration Release
    
    - name: Run tests
      run: dotnet test --no-build --verbosity normal --configuration Release
